head
  title PlanVsPlan: Homepage
  link(href='/stylesheets/slate.min.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='/scripts/versus.js')
body
  div.container
    .row
      .span9
        .hero-unit
          h1 Plan vs Plan
        br
        .span3
          a(href="/dvb")
            h3 DARPA vs Batman
        .span3
          h3 Central Park vs Golden Gate Park
        .span3
          h3 Create your own!

      .span3
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Inspired by
          h3
            a(href="http://wikipediavspredator.com") Wikipedia vs Predator
      
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Disclaimer
          p
            span PlanVsPlan is&nbsp;
            a(href="#") NOT affiliated
            span &nbsp; with DARPA, DC Comics, or Batman.