head
  title PlanVsPlan: Homepage
  link(href='/stylesheets/slate.min.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='/scripts/versus.js')
body(style="background-color:#f0f0f0")
  div.container(style="background-color:#272B30;padding:20px;")
    .row
      .hero-unit.span9
        h1 Plan vs Plan
    .row
      .span4
        a(href="/dvb")
          h3 DARPA vs Batman
          img(src="http://upload.wikimedia.org/wikipedia/commons/2/2e/Predator_and_Hellfire.jpg")
        br
        small Public domain image
      .span4
        a(href="/parks")
          h3 Central Park vs Golden Gate Park
          img(src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Golden_Gate_Park_-_Spreckels_Temple_of_Music_01.jpg/640px-Golden_Gate_Park_-_Spreckels_Temple_of_Music_01.jpg")
        br
        small Photo CC-BY-SA Joe Mabel
        
      .span4
        h3 Create your own!
        h4 Coming Soon

    .row

      .span3
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Inspired by
          h3
            a(href="http://wikipediavspredator.com") Wikipedia vs Predator

      .span3
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Disclaimer
          p
            span PlanVsPlan is&nbsp;
            a(href="#") NOT affiliated
            span &nbsp; with DARPA, DC Comics, or Batman.