head
  title PlanVsPlan: New Contest
  link(href='/stylesheets/slate.min.css', rel='stylesheet', type='text/css')
body(style="background-color:#f0f0f0")
  div.container(style="background-color:#272B30;padding:20px;")
    .row
      .hero-unit.span9
        h1 Plan vs Plan
    .row
      form.span12(action='/buildnew', method='POST')
        .span4
          h4 Contest Name
          input(name='mainname', value='')
          h4 Contest Thumbnail
          input(name='mainphoto', value='')
          h4 VS Icon
          img(src='http://i.imgur.com/P8VmU.png', width='150')

        .span4
          h4 Side One: Name
          input(name='ditemname', value='')
          h4 Side One: Starting Picture
          input(name='ditempic', value='')
          h4 Side One: Details
          input(name='ditemdetails', value='')
      
        .span4
          h4 Side Two: Name
          input(name='bitemname', value='')
          h4 Side Two: Starting Picture
          input(name='bitempic', value='')
          h4 Side Two: Details
          input(name='bitemdetails', value='')

    br
    br
    .row
      .span4
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Inspired by
          h3
            a(href="http://wikipediavspredator.com") Wikipedia vs Predator

      .span4
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Disclaimer
          p
            span PlanVsPlan is&nbsp;
            a(href="#") NOT affiliated
            span &nbsp; with DARPA, DC Comics, or Batman.
    
      .span4
        div(style="border:1px solid #fff;padding:10px;border-radius:8px;")
          h2 Open Source
          p
            h4
              a(href="https://github.com/mapmeld/PlanVsPlan") Source on GitHub
          p
            h4 Questions? Comments?
            span Contact me on Twitter:&nbsp;
            a(href="http://twitter.com/mapmeld") @mapmeld