head
  title DARPA vs. Batman
  link(href='/stylesheets/slate.min.css', rel='stylesheet', type='text/css')
body
  div.navbar
    .navbar-inner
      .container
        a.brand(href="#") DARPA vs Batman
        div.nav-collapse
          ul.nav
            li.active
              a(href='/') Showdown
            li
              a(href='/d') Support DARPA
            li
              a(href='/b') Support Batman

  div.container
    div.hero-unit
      h1 DARPA vs. Batman
    
    div.row
      .span6
        img.span10.contender(src='#{darpa.pic}', style='margin-left:auto;margin-right:auto;')
        h3
          a(href="#", onclick="voted()") #{darpa.item}
      
      .span6
        img.span10.contender(src='#{batman.pic}', style='margin-left:auto;margin-right:auto;')
        h3
          a(href="#", onclick="voteb()") #{batman.item}